<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tasks </title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h1>All Tasks</h1>
    <% allTasks.forEach(task => { %>
        <p><%= task.content %></p>
        <p><%= task.dueAt %></p>
        <p><%= task.list.name %></p>
        <form action="/tasks/delete/<%= task._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
         </form>
        <% }) %>

</body>
</html>