<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h3><%= foundTask.content %></h3>
        <p><%= foundTask.dueAt %></p>
        <p><%= foundTask.completed %></p>
        <p><%= foundTask.list.name %></p>
        <a href="/tasks/edit/<%= foundTask._id %>">Edit</a>
        
</body>
</html>