<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <form action="/tasks/edit/<%= foundTask._id%>?_method=put" method="post">
        <label for="content"> Update task</label>
        <input value="<%= foundTask.content  %>" type="text" name="content">

        <label for="dueAt"> Due At: </label>
        <input  value="<%= foundTask.dueAt  %>"  type="date" name="dueAt">

        <label for="completed">completed: </label>
        <input value="<%= foundTask.completed  %>" <% if(foundTask.completed){ %> checked<% }%> type="checkbox" name="completed">

         <button type="submit">Update</button>
    </form>
    <a href="/auth/welcome">Home Page</a>
</body>
</html>