<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lists</title>
</head>
<body>
    <%# delete %>
    <%- include("../partials/navbar.ejs") %>
    <h1>All Lists</h1>

    <% allLists.forEach(list => { %>
        <div>
            <p>List Name: <%= list.name %></p>
            
            <a href="/lists/<%= list._id %>">View</a>

            <a href="/lists/edit/<%= list._id %>">Edit</a>

            <form action="/lists/delete/<%= list._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
        <hr>
    <% }) %>
</body>
</html>