<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css">
    <title>List Details</title>
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
        <h1>
            <%= foundList.name %>
        </h1>

        <ul>
            <% if (foundList.tasks.length> 0) { %>
                <% foundList.tasks.forEach(task=> { %>
                    <li>
                        <input type="checkbox" disabled <%=task.completed ? 'checked' : '' %> />
                        <%= task.content %>
                            <a href="/tasks/edit/<%= task._id %>">Edit</a>

                            <form action="/tasks/delete/<%= task._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <li>No tasks in this list yet.</li>
                            <% } %>




        </ul>
        <a href="/lists/edit/<%= foundList._id %>">Edit List</a>
</body>

</html>